@media only screen and (max-width: 1799px) {
    .navbar .container-fluid {
        flex-direction: column;
        gap: 1.5rem;
        .collapse ul li {
            &:not(:last-child) {
                margin-right: 2.5rem;
            }
            a {
                font-size: 1.4rem;
                letter-spacing: unset;
            }
        }
    }
    .selection .nav-tabs .nav-item .nav-link {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1199.9px) {
    .navbar .container-fluid {
        flex-direction: row;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar .container-fluid .collapse ul li a {
        letter-spacing: unset;
        font-size: 1.6rem;
    }

    .tombstones-section .wrapper .row p {
        font-size: 1.6rem;
    }

    .btn {
        padding: 1.5rem 3rem;
    }

    .tombstones-section .wrapper .row img {
        position: absolute;
        right: 0;
        top: -30rem;
        max-width: 40%;
    }

    .txt {
        font-size: 1.6rem;
    }

    .slick-arrow {
        display: none !important;
    }

    .canvas-container {
        position: relative;
        user-select: none;
        max-width: 100%;
    }

    #main-grave {
        width: 100%; /* Use relative width */
        height: unset !important;
        position: absolute;
        left: 0;
        top: 0;
        touch-action: none;
        user-select: none;
        max-width: 100% !important;
    }

    .upper-canvas {
        width: 100%; /* Use relative width */
        height: 500px;
        position: absolute;
        left: 0;
        top: 0;
        touch-action: none;
        user-select: none;
        max-width: 100% !important;
    }

    .selection .nav-tabs {
        flex-direction: column;
        .nav-item {
            width: 90%;
        }
    }
    .tab-content .grave-type {
        flex-direction: column;

        button {
            width: 22.5rem;
        }
    }
}

@media only screen and (max-width: 991px) {
    .tombstones-section {
        height: 260rem;
    }
    .tombstones-section .wrapper .row img {
        display: none;
    }
    .tombstones-section .wrapper h2 {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .tombstones-section .wrapper .row p {
        text-align: center;
    }
    .materials {
        height: 85rem;
        .wrapper {
            top: 57.5%;
        }
    }

    .canvas-container {
        margin: 0 auto;
    }

    .settings {
        padding-bottom: 30rem;
    }

    .settings .col-lg-4 {
        box-shadow: none;
    }
    .settings .tab-content {
        padding: 0;
        margin-top: 5rem;
    }
    .settings .config-row h4 {
        padding: 0;
    }
    .settings .config-row {
        text-align: center;
    }
    .settings .config-row .configuration {
        flex-direction: column;
    }
    .cart .col-sm-3.offset-sm-4.offset-lg-0 {
        order: 3;
    }
    .cart .cart-footer .col-lg-6 {
        text-align: end;
    }
}

@media only screen and (max-width: 576px) {
    .navbar {
        padding: 0;
    }
    .tombstones-section {
        height: 465rem;
    }
    .tombstones-section .wrapper .row {
        padding: 0;
    }
    .gallery .col-md-6 {
        text-align: center;
    }
    .credentials {
        padding: 10rem 0;
    }
    footer .wrapper ul {
        flex-direction: column;
    }
    .contact form {
        padding: 15rem 5rem;
    }
    .gallery {
        padding-bottom: 40rem;
    }
    .main,
    .settings,
    .cart {
        padding-bottom: 50rem;
    }
    .main .contact > .row:first-child {
        padding: 0;
    }
    .contact form {
        padding: 5rem;
    }
    .cart .container > .row {
        display: none;
    }
    .cart .col-sm-3.offset-sm-4.offset-lg-0 {
        order: unset;
    }
    .cart .cart-item {
        position: relative;
    }
    .cart .cart-item .row {
        text-align: center;
        row-gap: 2rem;
    }

    .cart .cart-item .row .col-lg-1.col-sm-2 img {
        position: absolute;
        top: 2.5%;
        right: 2.5%;
    }
    .cart-footer {
        text-align: center;
    }
    .cart .cart-footer .col-lg-6 {
        text-align: center;
        align-items: unset;
    }
    .cart .cart-footer > .row {
        row-gap: 3rem;

        .btn {
            max-width: 60%;
            margin: 0 auto;
        }
    }
    .cart .cart-footer :is(.col-lg-3, .col-lg-6) {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    .tombstones-section .wrapper h2 {
        font-size: 2.2rem;
    }
    .tombstones-section .wrapper .line {
        display: none;
    }
    .tombstones-section .wrapper .row p {
        padding: 0 1.5rem;
    }
    .tombstones-section .wrapper .btn.btn-primary {
        margin-top: 5rem;
    }
    .materials {
        height: 95rem;
    }
    .materials .wrapper .txt {
        text-align: center;
    }
    .materials .wrapper .title {
        padding-left: 0;
        text-align: center;
    }
    .gallery {
        padding-bottom: 15rem;
    }
    .selection .tab-content .price {
        display: block;
        text-align: center;
    }
    .selection .tab-content .price h3 {
        text-align: center;
    }
    .selection .tab-content .btn-split button.btn {
        font-size: 14px;
        img {
            display: none;
        }
    }
    .main .faq,
    .main .order-process,
    .main .credentials-page {
        text-align: center;
    }
    .main .credentials-page {
        padding: 3rem 0;
    }
    .contact form {
        padding-bottom: 10rem;
    }
}
